.command-recorder {
  font-size: 60px;
}

.transcript-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  //margin: auto;
  font-size: 24px;
}

.color {
  background-color: red;
  &:global {
      &.active {
      background-color:#b20000;
    }
  }
}