.content-box {

  &-style {
    border: 2px solid black;
    background-color: white;
    border-radius: 2.5em;
    padding: 1em;
  }

  &-positioning {

  }

  &-sizing {
    flex-grow: 1;
    width: 80%;
    height: 90%;
  }

  &-layout {
    display: flex;
    flex-direction: column;
  }


  & > .header {
    font-size: 24px;
    display: flex;

    & > .title {
      margin-left: 1em;
      display: flex;
      align-items: center;
      margin-right: auto;

      overflow: hidden;

      & > span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.content {
  flex: 1 1 auto;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .content-box-style {
    border-color: white;
    background-color: #242424;
  }
}