.command-help-conatiner {
  min-width: 35vw;
  padding: 0 1em;

  &__title {
    display: flex;
    justify-content: center;

    font-size: 24px;
    margin-bottom: 2em;
    margin-top: 0.5em;
    font-weight: bold;
  }
}

.command-instance-container {
  padding-left: 1em;

  &__title {
    padding-left: 1em;
    font-weight: bold;
    font-size: 18px;
  }

  &__commands {

    .command {
      font-weight: bold;
    }
  }

  &__description {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 15px;
  }
}