

.container {
  $parent: &;
  display: flex;
  padding: 0.75em 0;
  
  justify-content: center;
  align-items: center;

  &.dividers {
    border-top: 1px solid;
  }

  &.clickable {
    cursor: pointer;

    &:hover.dividers {
      border-top-width: 2px;
      &:last-child {
        border-bottom-width: 2px;
      }
  
      & + #{$parent} {
        border-top-width: 2px;
      }
    }
  }
  

  img {
    width: 4em;
    height: 4em;
    margin-right: 1em;
  }

  .yt-btn {
    font-size: 1.25rem;
  }

  .ta-container {
    flex: 1 0;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  
    .artist {
      padding-left: 1rem;
      font-size: 16px;
    }
  }

  &:last-child.dividers {
    border-bottom: 1px solid ;
  }


  
}


@media (prefers-color-scheme: dark) {
  .collapsable-button {
  
  }
}